.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
probably_junk
raw/*
process/out/*
plots/out/*
report/full_report/final_report
report/full_report/*.rds
report/full_report/_bookdown_files/*
packages.bib